<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dragonchang.mapper.CompanyPriceRecordMapper">
    <resultMap id="BaseResultMap" type="com.dragonchang.domain.po.CompanyPriceRecord">
        <id column="id" property="id"/>
        <id column="company_stock_id" property="companyStockId"/>
        <result column="report_time" property="reportTime"/>
        <result column="deleted" property="deleted"/>
        <result column="created_by" property="createdBy"/>
    </resultMap>
    <select id="selectListByCondition" resultType="com.dragonchang.domain.po.CompanyPriceRecord">
        SELECT * FROM t_company_price_record
        WHERE 1=1
        <if test="companyStockId != null">
            and company_stock_id = #{companyStockId}
        </if>
        <if test="today != null and today != ''">
            and report_time &lt;= #{today}
        </if>

        ORDER BY report_time DESC LIMIT #{dayCount}
    </select>

</mapper>