<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dragonchang.mapper.CompanyStockMapper">
    <resultMap id="BaseResultMap" type="com.dragonchang.domain.po.CompanyStock">
        <id column="id" property="id"/>
        <result column="company_id" property="companyId"/>
        <result column="name" property="name"/>
        <result column="stock_code" property="stockCode"/>
        <result column="last_price" property="lastPrice"/>
        <result column="total_capitalization" property="totalCapitalization"/>
        <result column="last_circulation" property="lastCirculation"/>
        <result column="last_income" property="lastIncome"/>
        <result column="market_time" property="marketTime"/>
        <result column="deleted" property="deleted"/>
        <result column="created_time" property="createdTime"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="updated_by" property="updatedBy"/>
    </resultMap>

    <select id="findPage" resultMap="BaseResultMap">
        select * from t_company_stock
        where deleted=0
        <if test="request.name != null and request.name != ''">
            and name like CONCAT('%', #{request.name} , '%')
        </if>
        <if test="request.stockCode != null and request.stockCode != ''">
            and stock_code like CONCAT('%', #{request.stockCode} , '%')
        </if>
        <if test="request.startTime != null">
            and market_time &gt;= #{request.startTime}
        </if>
        <if test="request.endTime != null">
            and market_time &lt;= #{request.endTime}
        </if>
        <if test="request.order != null and request.order != ''">
            <if test='request.order == "1"'>
                order by last_circulation desc
            </if>
            <if test='request.order == "2"'>
                order by last_income desc
            </if>
            <if test='request.order == "3"'>
                order by market_time desc
            </if>
            <if test='request.order == "4"'>
                order by last_price desc
            </if>
        </if>

    </select>
</mapper>