<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dragonchang.mapper.FinanceAnalysisMapper">
    <resultMap id="BaseResultMap" type="com.dragonchang.domain.po.FinanceAnalysis">
        <id column="id" property="id"/>
        <result column="stock_company_id" property="stockCompanyId"/>
        <result column="total_income" property="totalIncome"/>
        <result column="total_add_percent" property="totalAddPercent"/>
        <result column="net_profit" property="netProfit"/>
        <result column="net_profit_percent" property="netProfitPercent"/>
        <result column="report_time" property="reportTime"/>
        <result column="report_type" property="reportType"/>
        <result column="deleted" property="deleted"/>
        <result column="last_income" property="createdTime"/>
        <result column="market_time" property="createdBy"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="updated_by" property="updatedBy"/>
    </resultMap>
    <select id="getReportTimeList" resultType="java.lang.String">
        select report_time from  t_finance_analysis group by report_time having count(report_time) > 1 ORDER BY report_time DESC
    </select>

    <select id="findPage" resultType="com.dragonchang.domain.dto.FinanceAnalysisResponseDTO">
        SELECT a.id, a.stock_company_id, b.stock_code, b.name,  b.last_price, a.total_income, a.total_add_percent, a.net_profit,
        a.net_profit_percent, a.profit_total_percent, a.report_time, a.report_type
        FROM t_finance_analysis a
        LEFT JOIN t_company_stock b on a.stock_company_id = b.id
        WHERE 1=1
        <if test="request.name != null and request.name != ''">
            and b.name like CONCAT('%', #{request.name} , '%')
        </if>
        <if test="request.stockCode != null and request.stockCode != ''">
            and b.stock_code like CONCAT('%', #{request.stockCode} , '%')
        </if>
        <if test="request.reportTime != null and request.reportTime != ''">
            and a.report_time = #{request.reportTime}
        </if>
        <if test="request.order != null and request.order == 1">
            ORDER BY a.total_income DESC
        </if>
        <if test="request.order != null and request.order == 2">
            ORDER BY a.net_profit DESC
        </if>
        <if test="request.order != null and request.order == 3">
            ORDER BY a.total_add_percent DESC
        </if>
        <if test="request.order != null and request.order == 4">
            ORDER BY a.net_profit_percent DESC
        </if>
        <if test="request.order != null and request.order == 5">
            ORDER BY a.profit_total_percent DESC
        </if>
        <if test="request.order != null and request.order == 6">
            ORDER BY a.updated_time DESC
        </if>

    </select>
    <select id="findList" resultType="com.dragonchang.domain.dto.FinanceAnalysisResponseDTO">
        SELECT a.id, a.stock_company_id, b.stock_code, b.name,  b.last_price, a.total_income, a.total_add_percent, a.net_profit,
        a.net_profit_percent, a.profit_total_percent, a.report_time, a.report_type
        FROM t_finance_analysis a
        LEFT JOIN t_company_stock b on a.stock_company_id = b.id
        WHERE 1=1
        <if test="request.name != null and request.name != ''">
            and b.name like CONCAT('%', #{request.name} , '%')
        </if>
        <if test="request.stockCode != null and request.stockCode != ''">
            and b.stock_code like CONCAT('%', #{request.stockCode} , '%')
        </if>
        <if test="request.reportTime != null and request.reportTime != ''">
            and a.report_time = #{request.reportTime}
        </if>
        <if test="request.order != null and request.order == 1">
            ORDER BY a.total_income DESC
        </if>
        <if test="request.order != null and request.order == 2">
            ORDER BY a.net_profit DESC
        </if>
        <if test="request.order != null and request.order == 3">
            ORDER BY a.total_add_percent DESC
        </if>
        <if test="request.order != null and request.order == 4">
            ORDER BY a.net_profit_percent DESC
        </if>
        <if test="request.order != null and request.order == 5">
            ORDER BY a.profit_total_percent DESC
        </if>
        <if test="request.order != null and request.order == 6">
            ORDER BY a.updated_time DESC
        </if>
    </select>
</mapper>