<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dragonchang.mapper.FinanceAnalysisMapper">
    <resultMap id="BaseResultMap" type="com.dragonchang.domain.po.FinanceAnalysis">
        <id column="id" property="id"/>
        <result column="stock_company_id" property="stockCompanyId"/>
        <result column="total_income" property="totalIncome"/>
        <result column="total_add_percent" property="totalAddPercent"/>
        <result column="net_profit" property="netProfit"/>
        <result column="net_profit_percent" property="netProfitPercent"/>
        <result column="report_time" property="reportTime"/>
        <result column="report_type" property="reportType"/>
        <result column="deleted" property="deleted"/>
        <result column="last_income" property="createdTime"/>
        <result column="market_time" property="createdBy"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="updated_by" property="updatedBy"/>
    </resultMap>
    <select id="getReportTimeList" resultType="java.lang.String">
        select report_time from  t_finance_analysis group by report_time having count(report_time) > 1 ORDER BY report_time DESC
    </select>

    <select id="findPage" resultType="com.dragonchang.domain.dto.FinanceAnalysisResponseDTO">
        SELECT a.id, a.stock_company_id, b.name, c.stock_code, c.last_price, c.last_circulation,c.total_capitalization, c.last_income,
        a.holder_rank, a.holder_name, a.hold_count, a.hold_percent,a.zj ,a.change_percent,b.holder_type, a.created_time,
        b.report_time FROM t_finance_analysis a
        LEFT JOIN t_company_stock b on a.stock_company_id = c.id
        WHERE 1=1 and b.holder_type='2'
        <if test="request.name != null and request.name != ''">
            and a.holder_name = #{request.name}
        </if>
        <if test="request.companyName != null and request.companyName != ''">
            and c.name like CONCAT('%', #{request.companyName} , '%')
        </if>
        <if test="request.companyStock != null and request.companyStock != ''">
            and c.stock_code like CONCAT('%', #{request.companyStock} , '%')
        </if>
        <if test="request.reportTime != null and request.reportTime != ''">
            and b.report_time = #{request.reportTime}
        </if>
        <if test="request.change != null and request.change == 1">
            and a.change_percent not like CONCAT('%', '-' , '%')
            ORDER BY a.change_percent DESC
        </if>
        <if test="request.change != null and request.change == 2">
            and a.change_percent like CONCAT('%', '-' , '%')
            ORDER BY a.change_percent DESC
        </if>
        <if test="request.change != null and request.change == 3">
            and a.change_percent = '--'
            ORDER BY a.change_percent DESC
        </if>
        <if test="request.change == null or request.change == ''">
            ORDER BY c.last_price DESC ,b.report_time DESC
        </if>

    </select>
</mapper>