<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dragonchang.mapper.FocusMapper">
    <resultMap id="BaseResultMap" type="com.dragonchang.domain.po.Focus">
        <id column="id" property="id"/>
        <id column="stock_company_id" property="stockCompanyId"/>
        <result column="company_name" property="companyName"/>
        <result column="stock_code" property="stockCode"/>
        <result column="type" property="type"/>
        <result column="deleted" property="deleted"/>
        <result column="created_time" property="createdTime"/>
        <result column="created_by" property="createdBy"/>
    </resultMap>

    <select id="findPage" resultMap="BaseResultMap">
        select * from t_focus f
        where deleted=0
        <if test="request.type != null and request.type != ''">
            and f.type = #{request.type}
        </if>
        <if test="request.companyName != null and request.companyName != ''">
            and f.company_name like CONCAT('%', #{request.companyName} , '%')
        </if>
        <if test="request.stockCode != null and request.stockCode != ''">
            and f.stock_code like CONCAT('%', #{request.stockCode} , '%')
        </if>
    </select>
</mapper>